* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f4f3f7;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card {
  background-color: white;
  padding: 1.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.image {
  width: 200px;
}

a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  font-size: 14px;
}

.product {
  display: flex;
}

.product > div {
  flex: 1;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main-div {
    flex-direction: column;
  }

  .product {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .product > div {
    flex: none;
  }
}
